---
interface Props {
    content: {
        brand: string;
        tagline: string;
        links: readonly {
            label: string;
            href: string;
            target?: string;
            dataCc?: string;
        }[];
    };
}

const { content: footer } = Astro.props as Props;
---

<footer class="border-border w-full border-t">
    <div
        class="mx-auto flex max-w-7xl flex-col flex-nowrap items-center justify-between space-y-3 p-6 md:flex-row"
    >
        <div>
            <p class="font-bold">{footer.brand}</p>
            <p>{footer.tagline}</p>
        </div>
        <ul class="flex flex-wrap gap-6 space-y-3">
            {
                footer.links.map((item) => (
                    <li>
                        <a
                            class="cursor-pointer"
                            href={item.href}
                            target={item.target}
                            data-cc={item.dataCc}
                        >
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</footer>
