---
import ButtonLink from "../ui/ButtonLink.astro";

interface Props {
    content: {
        brand: string;
        links: readonly {
            label: string;
            href: string;
        }[];
        languageSwitch: {
            current: string;
            other: string;
            href: string;
        };
        primaryCta: {
            label: string;
            href: string;
        };
    };
}

const { content: nav } = Astro.props as Props;
const homeHref = nav.links[0]?.href ?? "/";
---

<nav class="bg-background text-text border-border min-w-screen border-b shadow">
    <div
        class="mx-auto max-w-max items-center justify-between space-y-3 px-6 py-3 text-center md:flex md:max-w-6xl"
    >
        <a href={homeHref} class="text-lg font-semibold"> {nav.brand} </a>

        <ul class="flex items-center gap-6">
            {
                nav.links.map((item) => (
                    <li>
                        <a
                            href={item.href}
                            class="hover:text-secondary text-sm font-medium"
                        >
                            {item.label}
                        </a>
                    </li>
                ))
            }

            <li>
                <span class="font-bold">{nav.languageSwitch.current}</span> |
                <a class="text-muted" href={nav.languageSwitch.href}>
                    {nav.languageSwitch.other}
                </a>
            </li>
        </ul>
        <ButtonLink href={nav.primaryCta.href} variant="primary">
            {nav.primaryCta.label}
        </ButtonLink>
    </div>
</nav>
