---
import ButtonLink from "../ui/ButtonLink.astro";

interface Props {
    content: {
        brand: string;
        links: readonly {
            label: string;
            href: string;
        }[];
        languageSwitch: {
            current: string;
            other: string;
            href: string;
        };
        primaryCta: {
            label: string;
            href: string;
        };
    };
}

const { content: nav } = Astro.props as Props;
const homeHref = nav.links[0]?.href ?? "/";
---

<nav class="bg-background text-text border-border min-w-screen border-b shadow pb-3 md:pb-0">
    <div
        class="mx-auto max-w-max items-center justify-between space-y-3 px-6 py-3 text-center md:flex md:max-w-7xl"
    >
        <a href={homeHref} class="mt-3 text-lg font-semibold flex gap-3 items-center">
            <img src="/assets/logo.png" class="max-h-8" />
            {nav.brand}
        </a>

        <div class="flex flex-col md:flex-row items-center justify-center gap-5 text-lg">
            <ul class="flex items-center gap-6">
                {
                    nav.links.map((item) => (
                        <li>
                            <a
                                href={item.href}
                                class="hover:text-secondary text-sm font-medium"
                            >
                                {item.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="text-sm">
                <span class="font-bold">{nav.languageSwitch.current}</span> |
                <a class="text-muted" href={nav.languageSwitch.href}>
                    {nav.languageSwitch.other}
                </a>
            </div>
            <ButtonLink href={nav.primaryCta.href} variant="primary" target="_blank">
                {nav.primaryCta.label}
            </ButtonLink>
        </div>
    </div>
</nav>
