---
import ButtonLink from "../ui/ButtonLink.astro";

interface Props {
  content: {
    title: string;
    intro: string;
    primaryCta: string;
    secondaryCta: string;
    proof: string;
    image: {
      src: string;
    };
  };
}

const { content } = Astro.props as Props;
---

<div class="flex">
  <div class="my-auto flex-1/2 space-y-8 pr-4">
    <h1 class="text-text text-4xl leading-tight font-bold">
      {content.title}
    </h1>
    <p class="text-xl">
      {content.intro}
    </p>
    <div class="space-x-3">
      <ButtonLink href="/" variant="primary">
        {content.primaryCta}
      </ButtonLink>

      <ButtonLink href="/projects" variant="secondary">
        {content.secondaryCta}
      </ButtonLink>
    </div>
    <p class="text-muted">
      {content.proof}
    </p>
  </div>
  <div class="flex-1/2">
    <div class="flex w-full justify-items-end pl-10">
      <img src={content.image.src} />
    </div>
  </div>
</div>
