---
interface Props {
  content: {
    title: string;
    intro: string;
    primaryCta: string;
    secondaryCta: string;
    proof: string;
    image: {
      src: string;
    };
  };
}

const { content } = Astro.props as Props;
---

<div class="flex">
  <div class="my-auto flex-1/2 space-y-8 pr-4">
    <h1 class="text-text text-4xl leading-tight font-bold">
      {content.title}
    </h1>
    <p class="text-xl">
      {content.intro}
    </p>
    <div class="space-x-3">
      <button
        class="text-background bg-primary hover:bg-primary/80 hover:text-text/90 rounded-lg px-3 py-2 text-lg font-semibold transition"
      >
        {content.primaryCta}
      </button>

      <button
        class="text-text bg-background border-border hover:bg-text/20 rounded-lg border px-3 py-2 text-lg transition"
      >
        {content.secondaryCta}
      </button>
    </div>
    <p class="text-muted">
      {content.proof}
    </p>
  </div>
  <div class="flex-1/2">
    <div class="flex w-full justify-items-end pl-10">
      <img src={content.image.src} />
    </div>
  </div>
</div>
