---
import SectionHeader from "../ui/SectionHeader.astro";
import IconListItem from "../ui/IconListItem.astro";
import Card from "../ui/Card.astro";

interface Props {
    content: {
        sectionLabel: string;
        title: string;
        intro: string;
        quote: string;
        listTitle: string;
        painPoints: readonly string[];
    };
}

const { content } = Astro.props as Props;
---

<div>
    <div class="w-full md:flex">
        <div
            class="border-border flex flex-3/5 flex-col justify-between pb-6 md:pr-6"
        >
            <div class="mb-10">
                <SectionHeader
                    label={content.sectionLabel}
                    title={content.title}
                    intro={content.intro}
                />
            </div>
            <div
                class="border-primary/20 bg-primary-soft rounded-lg border px-6 py-4 whitespace-pre-line shadow"
            >
                {content.quote}
            </div>
        </div>
        <Card class="mb-6 flex-2/5">
            <h3 class="mb-6 text-lg font-bold">
                {content.listTitle}
            </h3>

            <ul class="space-y-3">
                {
                    content.painPoints.map((item) => (
                        <IconListItem>{item}</IconListItem>
                    ))
                }
            </ul>
        </Card>
    </div>
</div>
