---
import { Icon } from "astro-icon/components";

interface Props {
  content: {
    sectionLabel: string;
    title: string;
    intro: string;
    quote: string;
    listTitle: string;
    painPoints: readonly string[];
  };
}

const { content } = Astro.props as Props;
---

<div>
  <div class="flex">
    <div class="border-border flex flex-3/5 flex-col justify-between pr-6 pb-6">
      <div class="mb-10">
        <div class="text-primary mb-5 text-sm font-bold uppercase">
          {content.sectionLabel}
        </div>
        <h2 class="mb-3 text-2xl font-bold">
          {content.title}
        </h2>
        <p>
          {content.intro}
        </p>
      </div>
      <div
        class="border-primary/20 bg-primary-soft whitespace-pre-line rounded-lg border px-6 py-4 shadow"
      >
        {content.quote}
      </div>
    </div>
    <div class="border-border mb-6 flex-2/5 rounded-lg border p-6 shadow">
      <h3 class="mb-6 text-lg font-bold">
        {content.listTitle}
      </h3>

      <ul class="space-y-3">
        {
          content.painPoints.map((item) => (
            <li class="flex items-center gap-2">
              <Icon name="lucide:chevron-right" class="text-secondary" />
              {item}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
