---
import { Icon } from "astro-icon/components";

interface Props {
  content: {
    sectionLabel: string;
    title: string;
    intro: string;
    transformations: readonly {
      from: string;
      to: string;
      description: string;
    }[];
  };
}

const { content } = Astro.props as Props;
---

<div class="space-y-6">
  <div class="text-primary mb-5 text-sm font-bold uppercase">{content.sectionLabel}</div>

  <h2 class="mb-3 text-2xl font-bold">{content.title}</h2>
  <p>{content.intro}</p>
  <div class="grid grid-cols-2 gap-6">
    {
      content.transformations.map((item) => (
        <div class="border-border space-y-6 rounded-lg border p-6 shadow">
          <h3 class="flex items-center gap-2 text-xl font-bold">
            {item.from} <Icon name="lucide:arrow-right" class="text-secondary" />
            {item.to}
          </h3>
          <p>{item.description}</p>
        </div>
      ))
    }
  </div>
</div>
